*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: bolder;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C); 
}

.container {
  margin: 0 auto;
  align-content: center;
  min-height: 100vh;
  max-width: 400px;
}

 button {
  cursor: pointer;
  color: rgb(39, 38, 38);
  font-size: 2rem;
  font-weight: bolder;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  padding: 20px;
}

button:hover {
  background-color: rgba(255, 255, 255, .9);
  transform: scale(1.02);
}

.output {
  height: 150px;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  /* word-wrap: break-word; */
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}