<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/header.ejs") %>
	<body>
		<div class="container">
			<div class="d-flex justify-content-between mt-4 mb-4">
				<h1>Edit Article</h1>
				<a href="/">Back</a>
			</div>
			<form action="/edit/article/<%= articles._id%>" method="post">
				<div class="form-group mb-3">
					<label for="title">Title:</label>
					<input class="form-control border-info mb-4" id="title" name="title" rows="1" value="<%= articles.title %>">
					<label for="article">Article:</label>
					<textarea
						class="form-control border-info"
						id="article"
						name="article"
						rows="5"
						minlength="25"
					><%= articles.article %></textarea>
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
			</form>
        </div>
    </body>
</html>