<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/header.ejs") %>
	<body>
			<nav
				class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between mb-4"
			>
				<a class="navbar-brand" href="/">The New York Times</a>

				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a href="/new/article" class="nav-link">Add New Article</a>
					</li>
					
				</ul>
			</nav>
		<div class="container" >

      </div>
  </body>
</html>


<%- include('partials/footer'); -%>