<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/header.ejs") %>
	<body>
		<div class="container ">
			<div class="w-50 shadow-lg p-3 mb-5 bg-body rounded m-auto mt-4">
			<div class="d-flex justify-content-between mt-4 mb-4">
				<h1>New Article</h1>
				<a href="/">Back</a>
			</div>
			<form action="/new/article" method="post">
				<div class="form-group mb-3">
					<label for="title">Title:</label>
					<input
						class="form-control border-info mb-4"
						id="title"
						name="title"
						rows="1"
					/>
					<div class="titleError fw-bold fst-italic" style="color: red; height: 50px; "><%=articles.title%></div>

					<label for="article">Article:</label>
					<textarea
						class="form-control border-info mb-4"
						id="article"
						name="article"
						rows="5"
					></textarea>

					<div class="articleError fw-bold fst-italic" style="color: red; height: 50px;"><%=articles.article%></div>
				</div>
				<button type="submit" class="btn btn-success">Add article</button>
			</form>
		</div>
		</div>
	</body>
</html>

<!-- <script>
	
	const form = document.querySelector("form");
	const titleError = document.querySelector(".titleError");
	const articleError = document.querySelector(".articleError");
	
	form.addEventListener("submit", async (e) => {
		e.preventDefault();

		// reset errors
		titleError.textContent = "";
		articleError.textContent = "";

		// get values
		const titleValue = form.title.value;
		const articleValue = form.article.value;

		try {
			const res = await fetch("/new/article", {
				method: "POST",
				body: JSON.stringify({ title: titleValue, article: articleValue }),
				headers: { "Content-Type": "application/json" },
			});
			const data = await res.json();
			if (data.errors) {
				titleError.textContent = data.errors.title;
				articleError.textContent = data.errors.article;
			} else location.assign("/");
		} catch (err) {
			console.log(err);
		}
	});
</script> -->
