@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Dancing+Script&family=Lexend+Peta:wght@100&display=swap');

.App {
  text-align: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  min-height: 100vh;
  font-family: "Agdasima";
}

li{
  list-style-type: none;
  text-align: left;
}