<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Post <%= posts._id %>
				</h5>
				<button
					type="button"
					class="close"
					data-bs-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/posts/create/<%= posts._id %>" method="post">
					<div class="form-group mb-3">
						<textarea
							class="form-control border-danger"
							id="message"
							name="message"
							rows="3"
							minlength="25"><%= posts.message %></textarea>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal"
						>
							Close
						</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
					<!-- <button type="submit" class="btn btn-success">Send!</button> -->
				</form>
			</div>
		</div>
	</div>
</div>
