<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head'); -%>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-9 mx-auto">
					<div
						class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden"
					>
						<div class="card-img-left d-none d-md-flex">
							<!-- Background image for card set in CSS! -->
						</div>
						<div class="card-body p-4 p-sm-5">
							<h5 class="card-title text-center mb-5 fw-light fs-5">
								Register
							</h5>
							<form>
								<div class="form-floating mb-3">
									<input
										type="text"
										class="form-control"
										id="floatingInputUsername"
										name="username"
										placeholder="myusername"
										required
										autofocus
									/>
									<label for="floatingInputUsername">Username</label>
									<div
										id="usernameError"
										class="alert alert-danger"
										data-bs-dismiss="alert"
										role="alert"
									></div>
								</div>

								<div class="form-floating mb-3">
									<input
										type="email"
										class="form-control"
										id="floatingInputEmail"
										name="email"
										placeholder="name@example.com"
									/>
									<label for="floatingInputEmail">Email address</label>
									<div
										id="emailError"
										class="alert alert-danger"
										data-bs-dismiss="alert"
										role="alert"
									></div>
								</div>

								<hr />

								<div class="form-floating mb-3">
									<input
										type="password"
										class="form-control"
										id="password1"
										name="password1"
										placeholder="Password"
									/>
									<label for="password1">Password</label>
									<div
										id="password1Error"
										class="alert alert-danger"
										data-bs-dismiss="alert"
										role="alert"
									></div>
								</div>

								<div class="form-floating mb-3">
									<input
										type="password"
										class="form-control"
										id="password2"
										name="password2"
										placeholder="Confirm Password"
									/>
									<label for="password2">Confirm Password</label>
									<div
										id="password2Error"
										class="alert alert-danger"
										data-bs-dismiss="alert"
										role="alert"
									></div>
								</div>

								<div class="d-grid mb-2">
									<button
										class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
										type="submit"
									>
										Register
									</button>
									<a
										class="btn btn-lg btn-light btn-login text-uppercase fw-bold mb-2"
										href="/"
									>
										Back
									</a>
								</div>

								<a class="d-block text-center mt-2 small" href="/login"
									>Have an account? Sign In</a
								>

								<hr class="my-4" />

								<div class="d-grid mb-2">
									<button
										class="btn btn-lg btn-google btn-login fw-bold text-uppercase"
										type="submit"
									>
										<i class="fab fa-google me-2"></i> Sign up with Google
									</button>
								</div>

								<div class="d-grid">
									<button
										class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase"
										type="submit"
									>
										<i class="fab fa-facebook-f me-2"></i> Sign up with Facebook
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- script -->
		<script>
			const form = document.querySelector("form");
			const usernameError = document.getElementById("usernameError");
			const emailError = document.getElementById("emailError");
			const password1Error = document.getElementById("password1Error");
			const password2Error = document.getElementById("password2Error");
			$(".alert").hide();
			form.addEventListener("submit", async (e) => {
				e.preventDefault();

				// reset errors
				usernameError.textContent = "";
				emailError.textContent = "";
				password1Error.textContent = "";
				password2Error.textContent = "";

				// get values
				const username = form.username.value;
				const email = form.email.value;
				const password1 = form.password1.value;
				const password2 = form.password2.value;

				try {
					const res = await fetch("/signup", {
						method: "POST",
						headers: { "Content-Type": "application/json" },
						body: JSON.stringify({ username, email, password1, password2 }),
					});
					const data = await res.json();
					if (data.errors) {
						$(".alert").show()
						usernameError.textContent = data.errors.username;
						emailError.textContent = data.errors.email;
						password1Error.textContent = data.errors.password1;
						password2Error.textContent = data.errors.password2;
					}
					if (data.user) {
						location.assign("/");
					}
				} catch (err) {
					console.log(err);
				}
			});
		</script>
	</body>
</html>
<!-- style -->
<style>
	body {
		background: #007bff;
		background: linear-gradient(to right, #0062e6, #33aeff);
	}

	.card-img-left {
		width: 45%;
		/* Link to your background image using in the property below! */
		background: scroll center
			url("https://source.unsplash.com/WEQbe2jBg40/414x512");
		background-size: cover;
	}

	.btn-login {
		font-size: 0.9rem;
		letter-spacing: 0.05rem;
		padding: 0.75rem 1rem;
	}

	.btn-google {
		color: white !important;
		background-color: #ea4335;
	}

	.btn-facebook {
		color: white !important;
		background-color: #3b5998;
	}
</style>
